@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Hind:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ABeeZee", sans-serif;
}

body {
    background: url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Estiliza o header */
header {
    background-color: #fff;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estiliza o menu */
.menu {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    gap: 20px; 
    flex-grow: 1; /* Permite que o menu ocupe o espaço central */
    margin: 0;
}

/* Estiliza o logo */
#logo {
    margin-right: auto; /* Empurra o logo para a esquerda */
}

/* Estiliza o logo */
#logo img {
    width: 40px;
}

/* Estiliza o login */
#login {
    margin-left: auto; /* Empurra o login para a direita */
}

/* Estiliza o menu */
.menu li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Estiliza o menu */
.menu li a:hover {
    color: #0056b3;
}
label{
    margin-bottom: 5px;
}
/* Estiliza o login */
.Login {
    background-color: #2699c7;
    color: white;
    border: none;
    padding: 8px 16px ;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 340px;
    justify-content: center;
    position: relative;
    row-gap: 0px;
}

/* Estiliza o login */
.login:hover {
    background-color: #ff8c3a;
}
#loginSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
#Textchange{
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    color: #007bff;
    border: none;
    height:40px ;
    width:80px ;
    cursor: pointer;
}
input{
    height: 40px;
    width: 350px;
    border-radius: 10px;
    margin: 5px;
    border: none;
}
p{
    position: relative;
    top: 30px;
    bottom: 0;
    margin: 10px;
}
a{
    text-decoration: underline;
    color: white;
}
.login {
    background-color: #ff823a;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

 .login:hover {
    background-color: #ff8c3a;
}
p#MensagemDeErro2,p#MensagemDeErro3{
    top: 5px;
    
}